<td-expansion-panel label="Totales" [expand]="'true'"  [formGroup]="parent" >

  <ng-template td-expansion-panel-header>
    <md-toolbar color="accent">
        <span>Totales</span>
    </md-toolbar>
  </ng-template>
  <md-list class="md-padding">
    <md-list-item>
        <h3 mdLine> Importe bruto: </h3>
        <span flex></span>
        <h3>{{ importe | currency:'USD': true: '1.2-2'}}</h3>
    </md-list-item>

    <md-list-item>
      <h3 mdLine> Descuento: </h3>
      <span flex></span>
      <h3>{{ parent.get('descuento').value | currency:'USD': true: '1.2-2'}}</h3>
    </md-list-item>

    <md-list-item>
      <h3 mdLine> Impuesto: </h3>
      <span flex></span>
      <h3>{{ parent.get('impuesto').value | currency:'USD': true: '1.2-2'}}</h3>
    </md-list-item>

    <md-list-item>
      <h3 mdLine> Total: </h3>
      <span flex></span>
      <h3>{{ parent.get('total').value | currency:'USD': true: '1.2-2'}}</h3>
    </md-list-item>



  </md-list>
</td-expansion-panel>
