<td-expansion-panel label="Totales" [expand]="'true'"  [formGroup]="parent" >
  
  <ng-template td-expansion-panel-header>
    <md-toolbar color="accent">
        <span>Totales</span>
    </md-toolbar>
  </ng-template>
  <md-list class="md-padding">
    <md-list-item>
        <h3 mdLine> Importe bruto: </h3>
        <span flex></span>
        <h3>10,000.00</h3>
    </md-list-item>
    <md-divider md-inset></md-divider>
    <md-list-item>Descuento:</md-list-item>
    <md-divider md-inset></md-divider>
    <md-list-item>Sub total:</md-list-item>
    <md-divider md-inset></md-divider>
    <md-list-item>Impuesto:</md-list-item>
    <md-divider md-inset></md-divider>
    <md-list-item>Total:</md-list-item>
    <md-divider md-inset></md-divider>
  </md-list>
</td-expansion-panel>