<ng-template tdLoading [tdLoadingUntil]="!loading" tdLoadingStrategy="overlay">

    <md-card flex>
        <md-card-content *ngIf="partidas$ | async as partidas">
            <!-- <md-card-content > -->
            <div>
                <td-data-table #dataTable [data]="partidas" [columns]="partidasColumns" [style.height.px]="250" [style.height.px]="350">
                    <ng-template tdDataTableTemplate="cantidad" let-value="value" let-row="row">
                        <span class="tc-indigo-800">{{value | number}}</span>
                    </ng-template>
                    <ng-template tdDataTableTemplate="valorUnitario" let-value="value" let-row="row">
                        <span class="tc-indigo-800">{{value | currency: 'USD': 1.2-2}}</span>
                    </ng-template>
                    <ng-template tdDataTableTemplate="importe" let-value="value" let-row="row">
                        <span class="tc-indigo-800">{{value | currency: 'USD': 1.2-2}}</span>
                    </ng-template>
                    <ng-template tdDataTableTemplate="descuento" let-value="value" let-row="row">
                        <span class="tc-indigo-800">{{value | currency: 'USD': 1.2-2}}</span>
                    </ng-template>
                    <ng-template tdDataTableTemplate="subtotal" let-value="value" let-row="row">
                        <span class="tc-indigo-800">{{value | currency: 'USD': 1.2-2}}</span>
                    </ng-template>
                </td-data-table>
            </div>
        </md-card-content>
    </md-card>
    <md-dialog-actions>
        <button md-button type="button" (click)="close()">Cerrar</button>
    </md-dialog-actions>
</ng-template>