
<form novalidate (ngSubmit)="doAccept()" [formGroup]="form" >
    
  <h4 md-dialog-title>Atender traslado</h4>

  <div layout="column" class="atencion-dialog">
    <sx-comentario-field [parent]="form"></sx-comentario-field>
    <!-- <md-form-field flex  [style.width.%]="100">
      <input type="text" mdInput placeholder="Chofer" >
    </md-form-field> -->
    <md-select placeholder="Chofer" formControlName="chofer"  [style.width.%]="100">
      <md-option *ngFor="let chofer of choferes " [value]="chofer.id">
        {{chofer.nombre}}
      </md-option>
    </md-select>
  </div>
  <md-dialog-actions>
    <button md-button class="accent" type="submit" [disabled]="form.invalid" >Aceptar</button>
    <button md-button type="button" (click)="close()" >Cancelar</button>
  </md-dialog-actions>
</form>
    
    