<div layout *ngIf="venta$ | async; else loading; let venta">

  <md-card flex="70" class="main-view">

    <sx-fac-view-header [venta]="venta"></sx-fac-view-header>
    <md-divider></md-divider>
    <sx-fac-view-partidas [partidas]="venta.partidas"></sx-fac-view-partidas>
  </md-card>

  <md-card flex>
    <sx-fac-view-totales [venta]="venta" ></sx-fac-view-totales>
    <md-divider></md-divider>
    <md-card-actions>
      <a  md-button [routerLink]="['../../']"> Regresar </a>
      <button type="button" md-button   color="warn" (click)="cancelar(venta)">
        Cancelar <md-icon>cancel</md-icon>
      </button>
      <button type="button" md-icon-button  mdTooltip="Imprimir documento" >
        <md-icon>print</md-icon>
      </button>
      <button type="button" md-icon-button  mdTooltip="Enviar por correo"  (click)="mandarPorCorreo(venta)">
        <md-icon>email</md-icon>
      </button>

    </md-card-actions>
  </md-card>

</div>

<ng-template #loading>
  <h2>Cargando venta</h2>
</ng-template>
