<div [formGroup]="parent" >
  <div formArrayName="partidas">
    <table td-data-table>
      <thead>
      <tr td-data-table-column-row>
        <th td-data-table-column>Rng</th>
        <th td-data-table-column>Entidad</th>
        <th td-data-table-column>Tipo</th>
        <th td-data-table-column>Docto</th>
        <th td-data-table-column>Total</th>
        <th td-data-table-column>Nombre</th>
        <th td-data-table-column>Kilos</th>
        <th td-data-table-column>Parcial</th>
        <th td-data-table-column>Quitar</th>
      </tr>
      </thead>
      <tbody>
      <tr td-data-table-row *ngFor="let row of partidas; index as i" [formGroupName]="i">
        <td td-data-table-cell >{{i + 1}}</td>
        <td td-data-table-cell >{{row.entidad}}</td>
        <td td-data-table-cell >{{row.tipoDocumento}}</td>
        <td td-data-table-cell numeric="true">{{row.documento}}</td>
        <td td-data-table-cell numeric="true">{{row.totalDocumento}}</td>
        <td td-data-table-cell >{{row.nombre}}</td>
        <td td-data-table-cell >{{row.kilos}}</td>
        <td td-data-table-cell >
          <a md-icon-button [routerLink]="['/logistica/embarques/envios/edit',row.id]" *ngIf="row.id; else parcialTmp"
             tabindex="-1" class="text-md">
            <md-icon *ngIf="!row.salida" md-button color="accent" >
              {{row.parcial ? 'check': 'clear'}}
            </md-icon>
          </a>
          <ng-template #parcialTmp>
            <md-icon *ngIf="!row.salida" md-button color="accent" >
              {{row.parcial ? 'check': 'clear'}}
            </md-icon>
          </ng-template>
        </td>

        <!--<td td-data-table-cell >
          <input type="text" *ngIf="!disabled" value="{{row.cantidad}}" (blur)="modificar(row, ifield.value)" #ifield>
          <span *ngIf="disabled">{{row.cantidad}}</span>
        </td>-->
        <td td-data-table-cell numeric="false" >
          <button md-icon-button type="button" (click)="delete(i)" [disabled]="disabled" tabindex="-1">
            <md-icon *ngIf="!disabled" md-icon-button color="accent" >delete</md-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

