<form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
  <md-card >
    <div layout="row" layout-align="start center" layout-padding class="pad-left-sm pad-right-sm">

      <span class="md-title">{{title}}</span>

      <span flex></span>
      <span>
        <button type="button" md-icon-button (click)="insertar()" [disabled]="disabled"
                mdTooltip="Agregar partidas a la com">
          <md-icon>add</md-icon>
        </button>
      </span>
    </div>

    <md-divider></md-divider>


    <div layout layout-padding>

      <md-form-field flex="10">
        <input type="text" mdInput formControlName="sectorFolio" placeholder="Sector">
      </md-form-field>

      <md-form-field flex>
        <input type="text" mdInput formControlName="responsable1" placeholder="Responsable 1">
      </md-form-field>
      <md-form-field flex>
        <input type="text" mdInput formControlName="responsable2" placeholder="Responsable 1">
      </md-form-field>
    </div>
    <div layout layout-padding="">
      <sx-comentario-field flex [parent]="form" rows="1" ></sx-comentario-field>
      <!--<md-form-field flex="10">
        <input type="text" mdInput [value]="fecha | date:'dd/MM/yyyy'" placeholder="Fecha" [disabled]="true">
      </md-form-field>-->
    </div>


    <div>
      <sx-sector-form-partidas [disabled]="disabled"
        [parent]="form" [partidas]="partidas.value" (remove)="onDelete($event)">
      </sx-sector-form-partidas>
    </div>

    <div *ngIf=" partidas.value.length === 0" class="empty-partidas text-center">
      <h4 class="tc-pink-200 text-ceneter">Partidas de la venta para la devolución</h4>
    </div>

    <md-divider></md-divider>
    <md-card-actions>
      <button type="submit" md-button [disabled]="form.invalid"> Salvar </button>
      <a  md-button [routerLink]="['/logistica/almacen/sectores']"> Cancelar </a>
      <button md-icon-button (click)="print()" mdTooltip="Imprimir documento" *ngIf="id">
        <md-icon>print</md-icon>
      </button>
      <a md-button  *ngIf="id && disabled" [routerLink]="['../../edit', id]">
        Editar <md-icon>edit</md-icon>
      </a>
    </md-card-actions>

  </md-card>



</form>
