<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">

  <md-card flex-gt-sm class="facturas-card">
    <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
      <span class="push-left-sm">
        <span class="md-title">Facturas registradas</span>
      </span>
      <md-form-field class="pad-left">
        <input mdInput type="text" placeholder="Cliente">
      </md-form-field>
      <md-form-field class="pad-left">
        <input mdInput type="text" placeholder="Usuario">
      </md-form-field>
      <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Factura " (searchDebounce)="search($event)"
        flex>
      </td-search-box>
      <span>
        <button md-icon-button [md-menu-trigger-for]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu x-position="before" #menu="mdMenu">
          <button (click)="load()" md-menu-item>
            <md-icon>refresh</md-icon> Refrescar
          </button>
          <button (click)="envioBatch()" md-menu-item [disabled]="selectedRows.length===0">
            <md-icon>mail</md-icon> Envio batch</button>
        </md-menu>

      </span>
    </div>

    <md-divider></md-divider>
    <div class="facturas-panel" *tdLoading="'saving'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
      <ng-template tdLoading [tdLoadingUntil]="!procesando" tdLoadingStrategy="overlay" tdLoadingType="linear">
        <sx-facturados-list [facturas]="facturas$ | async" [selectedRows]="selectedRows" (print)="print($event)" (envio)="asignarEnvio($event)"
          (cancelarEnvio)="cancelarEnvio($event)">
        </sx-facturados-list>
      </ng-template>
    </div>
  </md-card>
</div>