<form novalidate (ngSubmit)="onSubmit()" [formGroup]="form" class="efectivo-form">
    <h3 md-dialog-title>Cobro {{cobro.formaDePago}}</h3>
    <md-divider></md-divider>
    <md-dialog-content>

        <div layout="row">
            <md-form-field flex>
                <input type="text" mdInput placeholder="Autorización" formControlName="validacion" sxOnlyNumbers>
            </md-form-field>
            <!-- <md-checkbox formControlName="visaMaster" *ngIf="isTarjetaDeCredito()"> Visa/MasterCard</md-checkbox> -->
        </div>

        <div layout="row">
            <md-select placeholder="Tipo" formControlName="visaMaster" flex>
                <md-option *ngFor="let tipo of tipos" [value]="tipo">{{ tipo }}
                </md-option>
            </md-select>
        </div>


    </md-dialog-content>

    <md-dialog-actions>
        <button md-button type="button" (click)="cancelar()">Cancelar</button>
        <button md-button type="submit" [disabled]="form.invalid">Aceptar</button>
    </md-dialog-actions>
</form>