<md-list dense>
  
  <md-list-item>
    <md-icon md-list-icon>vpn_key</md-icon>
    <span mdLine>Recepción</span>
    
    <span layout="row" flex="90">
      <div class=" tc-grey-500" flex="30">Compra </div>
      <div class=" tc-grey-500" flex="40">Remisión </div>
      <div class=" tc-grey-500" flex="20">Estatus </div>
      <div class=" tc-grey-500" flex="10"> <md-icon>more_vert</md-icon></div>
    </span>
  </md-list-item>
  <md-divider></md-divider>
  <td-virtual-scroll-container #virtualScroll [style.height.px]="350" [data]="coms">
    <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
      <md-list-item >
          <md-icon md-list-avatar>apps</md-icon>
          <h3 md-line><span class="tc-pink-500">COM: {{row.documento}} </span>  {{ row.fecha | date:'dd/MM/yyyy'}} {{row.proveedor.nombre}}</h3>
          <span md-line> {{row.comentario}} 
              <span class="text-sm tc-pink-800">{{row.sucursal.nombre}}</span>
          </span>
          <span flex></span>
          <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="20" layout-gt-xs="row">
              <div class=" tc-blue-500" flex-gt-xs="50"> {{row.compra.folio}} ({{row.compra.fecha | date:'dd/MM/yyyy'}})</div>
          </span>
          <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="30" layout-gt-xs="row">
              <div class=" tc-blue-500" flex-gt-xs="50"> {{row.remision}} ({{row.fechaRemision | date:'dd/MM/yyyy'}}) </div>
              <div  [ngClass]="{'tc-pink-500': !row.fechaInventario }" flex-gt-xs="50"> {{ row.fechaInventario ? 'INVENTARIADO' : 'PENDIENTE'}} </div>
          </span>
          <span >
            <button md-icon-button [md-menu-trigger-for]="menu"  >
            <md-icon [ngClass]="{'tc-blue-600':odd }">more_vert</md-icon>
            </button>
            <md-menu x-position="before" #menu="mdMenu">
                <a [routerLink]="['show', row.id]" md-menu-item [disabled]="false">
                  <md-icon>info</md-icon> Consultar
                </a>
                <a [routerLink]="['edit', row.id]" md-menu-item [disabled]="true">
                    <md-icon>edit</md-icon> Editar
                  </a>
                <button md-menu-item  [disabled]="true" >
                  <md-icon >delete</md-icon> Eliminar
                </button>
            </md-menu>
          </span>
      </md-list-item>
      <md-divider *ngIf="!last" md-inset></md-divider>
    </ng-template>
  </td-virtual-scroll-container>

</md-list>
