<div [formGroup]="parent" >
  <div formArrayName="partidas">
    <table td-data-table>
      <thead>
      <tr td-data-table-column-row>
        <th td-data-table-column>Rng</th>
        <th td-data-table-column>Tipo</th>
        <th td-data-table-column>Docto</th>
        <th td-data-table-column>Nombre</th>
        <th td-data-table-column>Arribo</th>
        <th td-data-table-column>Recepción</th>
        <th td-data-table-column>Quitar</th>
      </tr>
      </thead>
      <tbody>
      <tr td-data-table-row *ngFor="let row of partidas; index as i" [formGroupName]="i">
        <td td-data-table-cell >{{i + 1}}</td>
        <td td-data-table-cell >{{row.tipoDocumento}}</td>
        <td td-data-table-cell numeric="true">{{row.documento}}</td>
        <td td-data-table-cell >{{row.nombre}}</td>
        <td td-data-table-cell numeric="false" >
          <button md-icon-button type="button" (click)="onArribo(i)" [disabled]="row.arribo !== undefined" tabindex="-1"  *ngIf="!row.arribo">
            <md-icon *ngIf="!disabled" md-icon-button color="accent" >flight_land</md-icon> 
          </button>
          <span *ngIf="row.arribo">{{row.arribo | date:'short'}}</span>
        </td>
        <td td-data-table-cell numeric="false" > 
          
          <button md-icon-button type="button" (click)="onRecepcion(i)" [disabled]="row.arribo === undefined" tabindex="-1" *ngIf="!row.recepcion">
            <md-icon *ngIf="!disabled" md-icon-button color="primary" >file_download</md-icon> {{row.arrivo}}
          </button>
          <span *ngIf="row.recepcion">{{row.recepcion | date:'short'}}</span>
        </td>
        <td td-data-table-cell numeric="false" >
          <button md-icon-button type="button" (click)="onDelete(i)" [disabled]="disabled" tabindex="-1" *ngIf="!row.recepcion">
            <md-icon *ngIf="!disabled" md-icon-button color="accent" >delete</md-icon>
          </button>
        </td>
        
      </tr>
      
      </tbody>
    </table>
  </div>
  
</div>

