<h4 md-dialog-title> Mantenimiento de recorte</h4>

<form [formGroup]="form" novalidate (ngSubmit)="doAccept()">
  
  <div layout="column" class="selector-form" >
    <md-form-field flex>
      <input mdInput  placeholder="Recorte" formControlName="recorte">
    </md-form-field>
    <md-form-field flex>
        <input mdInput  placeholder="Comentario" formControlName="recorteComentario">
      </md-form-field>
  </div>
  
  <md-dialog-actions>
    <button md-button class="accent" type="submit" [disabled]="form.invalid" >Aceptar</button>
    <button md-button type="button" (click)="close()" >Cancelar</button>
  </md-dialog-actions>
  
</form>
  