<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    
  <md-card flex-gt-sm class="inventarios-panel">

    <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
      <span  class="push-left-sm" flex>
          <span class="md-title">Devoluciones de compras</span>
      </span>
      <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" 
        placeholder="Documento / Compra " (searchDebounce)="search($event)" flex>
      </td-search-box>
      <span>
          <button md-icon-button [mdMenuTriggerFor]="toolbarMenu"><md-icon>more_vert</md-icon></button>
          <md-menu #toolbarMenu="mdMenu">
            <button md-menu-item>
              <md-icon>settings</md-icon>
              <span>Filtro avanzado</span>
            </button>
          </md-menu>
        </span>
    </div>

    <md-divider></md-divider>
    <md-card-content class="page-grid" 
      *tdLoading="'overlayStarSyntax'; let loading until !(loading$ | async); color: 'accent' strategy:'overlay';">
    </md-card-content>
  </md-card>
      
    
        
</div>
  
<a md-fab color="accent" class="mat-fab-bottom-right" [routerLink]="['create']">
  <md-icon>add</md-icon>
</a>