
<!-- <td-layout-nav logo="assets:siipap-rx2"  navigationRoute="/" toolbarTitle="SX-POS">
  
  <button md-icon-button td-menu-button  tdLayoutToggle> 
    <md-icon>menu</md-icon>
  </button>

  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <span flex></span>
    <span> Pedidos </span>
    <span flex></span>
    <span> SX-POS (PEDIDOS)</span>
    
    <sx-prod-selector-btn></sx-prod-selector-btn>
    <button md-icon-button><md-icon >settings</md-icon></button>
    <sx-module-selector></sx-module-selector>
  </div>

  <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm>
        <router-outlet></router-outlet>
    </div>
  </div>

  <a md-fab color="accent" class="mat-fab-bottom-right" [routerLink]="['create']" style="bottom:20px; position: fixed;">
    <md-icon>add</md-icon>
  </a>
</td-layout-nav> -->
<sx-nav-layout header="Pedidos" modulo="Ventas">
  <router-outlet></router-outlet>
</sx-nav-layout>