<md-list>
    <md-list-item>
      <md-icon md-list-icon>vpn_key</md-icon>
      <span mdLine>Descripcion</span>
      <span flex></span>
      <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
          <div class=" tc-grey-500" flex-gt-xs="50">Venta </div>
          <div class=" tc-grey-500" flex-gt-xs="50">Estado </div>
      </span>
    </md-list-item>
    <md-divider></md-divider>
    <td-virtual-scroll-container #virtualScroll [style.height.px]="400" [data]="devoluciones">
      <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
        <md-list-item >
            <md-icon md-list-avatar>apps</md-icon>
            <h3 md-line> RMD: {{row.documento}} {{ row.fecha | date:'dd/MM/yyyy'}} {{row.venta.cliente.nombre}}</h3>
            <span md-line> {{row.comentario}} </span>
            <span flex></span>
            <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                <div class=" tc-blue-500" flex-gt-xs="50"> {{row.venta.documento}} </div>
                <div  [ngClass]="{'tc-pink-500': !row.fechaInventario }" flex-gt-xs="50"> {{ row.fechaInventario ? 'INVENTARIADO' : 'PENDIENTE'}} </div>
            </span>
            <span >
              <button md-icon-button [md-menu-trigger-for]="menu"  >
              <md-icon [ngClass]="{'tc-blue-600':odd }">more_vert</md-icon>
              </button>
              <md-menu x-position="before" #menu="mdMenu">
                  <a [routerLink]="['show', row.id]" md-menu-item [disabled]="false">
                    <md-icon>info</md-icon> Consultar
                  </a>
                  <a [routerLink]="['edit', row.id]" md-menu-item [disabled]="false">
                      <md-icon>edit</md-icon> Editar
                    </a>
                  <button md-menu-item (click)="onDelete(i)" [disabled]="true" >
                    <md-icon class="tc-pink-600">delete</md-icon> Delete
                  </button>
              </md-menu>
            </span>
        </md-list-item>
        <md-divider *ngIf="!last" md-inset></md-divider>
      </ng-template>
    </td-virtual-scroll-container>
  </md-list>
