<form novalidate [formGroup]="form" layout="row" class="pedido-form">
  
  <md-card flex="70" >
    <sx-pedido-header (addCliente)="onAddNewCliente()" [parent]="form" (insertar)="onInsertPartida()">
    </sx-pedido-header>
    <md-divider></md-divider>

    <div layout="row" layout-margin>
      <sx-tipo-field [parent]="form" flex="15" ></sx-tipo-field>
      <sx-modo-field [parent]="form" flex="15"></sx-modo-field>
      <sx-comprador-field [parent]="form" flex></sx-comprador-field>
    </div>
    <md-divider></md-divider>

    <sx-pedido-partidas-grid flex  ></sx-pedido-partidas-grid>
    <md-divider></md-divider>

    <md-card-actions>
      <button type="submit" md-button [disabled]="form.invalid" *ngIf="!disabled"> Salvar </button>
      <a  md-button [routerLink]="['/ventas/pedidos']"> Cancelar </a>
      <button type="button" md-icon-button  mdTooltip="Imprimir documento" >
        <md-icon>print</md-icon>
      </button>
    </md-card-actions>

  </md-card>

  <div flex="30">
    <md-card >
      <td-expansion-panel-group>
        <sx-pedido-envio-panel [parent]="form"></sx-pedido-envio-panel>
        <sx-pedido-comentario-panel [parent]="form" ></sx-pedido-comentario-panel>
        <sx-pedido-cargos-panel [parent]="form"></sx-pedido-cargos-panel>
        <sx-pedido-totales-panel [parent]="form"></sx-pedido-totales-panel>
        
      </td-expansion-panel-group>
    </md-card>
  </div>

</form>

