<form novalidate>
  <md-card>
    <sx-pedido-form-header></sx-pedido-form-header>
    <md-card-content >
      
      <div layout="row">
          
        <md-input-container >
          <input type="text" mdInput placeholder="Fecha" [disabled]="'true'">
        </md-input-container>
      
        <md-input-container >
          <input type="text" mdInput placeholder="Tipo" [disabled]="'true'">
        </md-input-container>

        <md-input-container >
          <input type="text" mdInput placeholder="Modo" [disabled]="'true'">
        </md-input-container>

        <md-input-container >
          <input type="text" mdInput placeholder="Comprador" [disabled]="'true'">
        </md-input-container>

      </div>

      <div layout="row">
          
        <md-input-container >
          <input type="text" mdInput placeholder="Entrega" [disabled]="'true'">
        </md-input-container>
      
        <md-input-container >
          <input type="text" mdInput placeholder="Vale" [disabled]="'true'">
        </md-input-container>

        <md-input-container >
          <input type="text" mdInput placeholder="Sucursal" [disabled]="'true'">
        </md-input-container>

        <md-input-container >
          <input type="text" mdInput placeholder="Almacen" [disabled]="'true'">
        </md-input-container>
        <md-input-container >
          <input type="text" mdInput placeholder="Dirección" [disabled]="'true'">
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container >
          <input type="text" mdInput placeholder="Comprador" [disabled]="'true'">
        </md-input-container>
        <md-input-container >
          <input type="text" mdInput placeholder="Facturista" [disabled]="'true'">
        </md-input-container>
        <md-input-container flex>
          <input type="text" mdInput placeholder="Comentario" [disabled]="'true'" >
        </md-input-container>        
      </div>

    </md-card-content> 
    
  </md-card>
</form>