.table-wrapper {
  height: 400px;
  overflow: auto;
}

.comentarios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5px;
  padding: 5px 10px;
  .comentario-item {
    background-color: rgb(207, 164, 85);
    font-weight: bold;
    font-size: 14px;
    font: white;
    padding: 4px;
    margin-top: 5px;
  }
}
