<div [formGroup]="parent" layout layout-align="center" layout-margin class="partidas-grid-container">
  <div formArrayName="partidas">

    <table td-data-table class="table" #dataTable>
      <thead>
        <tr td-data-table-column-row>
          <th td-data-table-column [style.width.em]="3">Rng</th>
          <th td-data-table-column  [style.width.em]="40" class="text-center">Producto</th>
          <th td-data-table-column>Cantidad</th>
          <th td-data-table-column>Precio</th>
          <th td-data-table-column>Importe</th>
          <th td-data-table-column>Descuento</th>
          <th td-data-table-column>Sub Total</th>
          <th td-data-table-column>Quitar</th>
        </tr>
      </thead>
      <tbody>
        <tr td-data-table-row *ngFor="let row of partidas; index as i" [formGroupName]="i">
          <td td-data-table-cell   class="text-left">{{i + 1}}</td>
          <td td-data-table-cell  [style.width.em]="40" class="text-left">
            <span flex="25" class="text-md">({{row.producto.clave}}) </span>
            <span flex="70"> {{row.producto.descripcion}}</span>
            <span flex></span>
            <span mdTooltip="Precio {{row.producto.modoVenta === 'B' ? 'Bruto': 'Neto'}}"
              [ngClass]="{'tc-pink-700': row.producto.modoVenta === 'B', 'tc-indigo-700': row.producto.modoVenta === 'N'}">
              {{row.producto.modoVenta}} 
            </span>
          </td>
          <td td-data-table-cell numeric="true">{{row.cantidad}}</td>
          <td td-data-table-cell numeric="true"> {{row.precio | currency: 'USD': 1.2-2}}</td>
          <td td-data-table-cell numeric="true"> {{row.importe | currency: 'USD': 1.2-2}}</td>
          <td td-data-table-cell numeric="true"> {{row.descuentoImporte | currency: 'USD': 1.2-2}}</td>
          <td td-data-table-cell numeric="true"> {{row.subTotal | currency: 'USD': 1.2-2}}</td>
          <td td-data-table-cell numeric="false">
            <button md-icon-button type="button" (click)="delete.emit(i)">
              <md-icon md-icon-button color="accent" >delete</md-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


<!-- <td-data-table
  #dataTable
  [data]="partidas"
  [columns]="columns"
  [style.height.px]="320">
  <ng-template tdDataTableTemplate="producto" let-value="value" let-row="row">
    <span flex="15">({{value.clave}}) </span>
    <span flex> {{value.descripcion}}</span>
    <span mdTooltip="Precio {{row.producto.modoVenta === 'B' ? 'Bruto': 'Neto'}}"
      [ngClass]="{'tc-pink-700': row.producto.modoVenta === 'B', 'tc-indigo-700': row.producto.modoVenta === 'N'}">
      {{row.producto.modoVenta}} 
    </span>
  </ng-template>
  <ng-template tdDataTableTemplate="precio" let-value="value" let-row="row">
      {{value | currency: 'USD': 1.2-2}}
  </ng-template>
  <ng-template tdDataTableTemplate="importe" let-value="value" let-row="row">
      {{value | currency: 'USD': 1.2-2}}
  </ng-template>
  <ng-template tdDataTableTemplate="descuentoImporte" let-value="value" let-row="row">
      <span mdTooltip="{{row.descuento | percent:'1.1'}}">
        {{value | currency: 'USD': 1.2-2}}
      </span>
  </ng-template>
  <ng-template tdDataTableTemplate="subTotal" let-value="value" let-row="row">
      {{value | currency: 'USD': 1.2-2}}
  </ng-template>
</td-data-table>
<div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
  <h3>Registre los productos para la venta.</h3>
</div> -->
