<md-list>
    <md-list-item>
        <md-icon md-list-icon class="tc-pink-800">vpn_key</md-icon>
        <span md-line>
      <span layout layout-padding>
        <span flex="10" class="tc-indigo-700"> Embarque</span>
        <span flex>Chofer </span>
        <span flex>Fecha </span>
        <span flex>Comentario </span>
        <span flex>Creo</span>
        <span flex>Actualizo</span>
        <span flex></span>
        <span layout>
          <span class="pad-left">Salida </span>
        </span>
        </span>
        </span>
        <span flex></span>
        <!-- <span >
          <button md-icon-button>
            <md-icon >more_vert</md-icon>
          </button>
        </span> -->
    </md-list-item>
    <md-divider></md-divider>
    <td-virtual-scroll-container #virtualScroll [style.height.px]="350" [data]="embrques">
        <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
            <md-list-item>
                <md-icon md-list-icon class="tc-pink-800">apps</md-icon>
                <span md-line>
          <span layout layout-padding>
            <a md-button [routerLink]="['edit', row.id]" class="tc-indigo-700">{{row.documento}} </a>
            <span flex *ngIf="!row.empleado">{{row.chofer.nombre}} </span>
                <span flex *ngIf="row.empleado">{{row.empleado}} </span>
                <span flex>{{ row.dateCreated | amTimeAgo }} </span>
                <span flex>{{ row.comentario }} </span>
                <span flex>{{ row.createUser }} </span>
                <span flex>{{ row.updateUser }} </span>
                <span flex></span>
                <span layout>
              <button md-icon-button flex (click)="eliminar(row)" *ngIf="row.numeroDePartidas === 0">
                <md-icon class="pad tc-pink-700">delete</md-icon>
              </button>

              <button md-icon-button (click)="marcarSalida(row)" mdTooltip="Regisrar salida de embarque" *ngIf="!row.salida">
                <md-icon class="pad">flight_takeoff</md-icon>
              </button>

            </span>

                </span>
                </span>

                <span flex></span>
                <!-- <span >
              <button md-icon-button [md-menu-trigger-for]="menu"  >
              <md-icon [ngClass]="{'tc-blue-600':odd }">more_vert</md-icon>
              </button>
              <md-menu x-position="before" #menu="mdMenu">
                <a [routerLink]="['show', row.id]" [queryParams]="{tipo: 'show'}" md-menu-item [disabled]="false">
                  <md-icon>info</md-icon> Consultar
                </a>
                <a [routerLink]="['edit', row.id]" md-menu-item [disabled]="false">
                    <md-icon>edit</md-icon> Editar
                </a>
              </md-menu>
            </span> -->
            </md-list-item>
            <md-divider *ngIf="!last" md-inset></md-divider>
        </ng-template>
    </td-virtual-scroll-container>

</md-list>