<td-layout-nav logo="assets:siipap-rx2"  navigationRoute="/" toolbarTitle="SX-POS">
  
  <button md-icon-button td-menu-button  tdLayoutToggle> 
    <md-icon>menu</md-icon>
  </button>

  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <span flex></span>
    <span> Ordenes de compra </span>
    <span flex></span>
    <span> SX-POS (COMPRAS)</span>
    <button md-icon-button><md-icon >settings</md-icon></button>
    <sx-module-selector></sx-module-selector>
  </div>

  <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="50">
      <md-card>
        <md-card-title>Ordenes pendientes</md-card-title>
        <md-divider></md-divider>
        <md-card-content>
            <sx-ordenes-list [compras]="ordenes$ | async" (info)="onSelection($event)"></sx-ordenes-list>
        </md-card-content>
      </md-card>
    </div>

    <div flex-gt-sm="50" *ngIf="selected">
      <md-card class="will-load">
        <md-card-title>Detalle de compra</md-card-title>
        <md-divider></md-divider>
        <md-card-content>
          {{selected | json}}
        </md-card-content>
      </md-card>
    </div>
  </div>

  <a md-fab color="accent" class="mat-fab-bottom-right" [routerLink]="['create']" style="bottom:20px; position: fixed;">
    <md-icon>add</md-icon>
  </a>

</td-layout-nav>
