<td-data-table
  #dataTable
  [data]="pedidos"
  [columns]="columns"
  selectable="false"
>
  <ng-template tdDataTableTemplate="documento" let-value="value" let-row="row">
    <a (click)="onEdit(row)" class="tc-indigo-700 cursor-pointer folio-cell">
      <span>{{ row.tipo }}{{ row.documento }} </span>
      <span class="callcenter">{{ row.sw2 ? 'CALLCENTER' : '' }}</span>
    </a>
  </ng-template>

  <ng-template tdDataTableTemplate="comentario" let-value="value" let-row="row">
    <span>
      <button md-icon-button *ngIf="row.comentario" [mdTooltip]="value">
        <md-icon inline="true">message</md-icon>
      </button>
    </span>
    <span layout="column">
      <span *ngIf="row.tipo === 'ANT'"> ANT {{ row.comentario }}</span>
      <span *ngIf="row.tipoDeCambio > 1">
        (USD T.C: {{ row.tipoDeCambio | number: '1.4-4' }})</span
      >
      <span *ngIf="row.puesto"
        >PUESTO
        <md-icon *ngIf="row.surtido" class="tc-pink-700" inline="true"
          >shopping_cart</md-icon
        >
      </span>
      <span *ngIf="row.clasificacionVale !== 'SIN_VALE'">{{
        row.clasificacionVale
      }}</span>
      <span *ngIf="row.sinExistencia" class="tc-pink-700">SIN EXISTENCIA</span>
      <span *ngIf="row.descuento > row.descuentoOriginal" class="tc-pink-700"
        >DESCTO {{ row.descuento }}</span
      >
      <span
        *ngIf="row.ventaIne && !row.complementoIne"
        class="text-sm tc-pink-700"
        >INE (Falta Complemento)</span
      >
      <span
        *ngIf="row.ventaIne && row.complementoIne"
        class="text-sm tc-green-700"
        >INE (OK)</span
      >
    </span>
  </ng-template>

  <!--   <ng-template tdDataTableTemplate="comentario" let-value="value" let-row="row">
        <button md-icon-button *ngIf="!row.noFacturable" mdTooltip="{{row.comentario}}">
                    <md-icon>assignment</md-icon>
        </button>
        <span flex *ngIf="row.cod"><md-icon >message</md-icon></span>
    </ng-template>
-->
  <ng-template tdDataTableTemplate="fecha" let-value="value">
    {{ value | date: 'dd/MM/yyyy' }}
  </ng-template>

  <ng-template tdDataTableTemplate="nombre" let-value="value" let-row="row">
    <a (click)="showDetails(row)" class="tc-indigo-700 cursor-pointer">
      <span>{{ value }}</span>
    </a>
  </ng-template>

  <ng-template tdDataTableTemplate="cod" let-value="value" let-row="row">
    <span flex *ngIf="row.cod"
      ><md-icon class="tc-pink-700">done</md-icon></span
    >
  </ng-template>

  <ng-template tdDataTableTemplate="lastUpdated" let-value="value">
    {{ value | date: 'dd/MM/yyyy HH:mm' }}
  </ng-template>

  <ng-template
    tdDataTableTemplate="formaDePago"
    let-value="value"
    let-row="row"
  >
    <span class="text-sm tc-pink-700">{{ getFormaDePago(row) }}</span>
  </ng-template>

  <ng-template
    tdDataTableTemplate="clasificacionVale"
    let-value="value"
    let-row="row"
  >
    <span *ngIf="value != 'SIN_VALE'">{{ value }}</span>
  </ng-template>

  <ng-template tdDataTableTemplate="total" let-value="value" let-row="row">
    <span layout="column">
      <span class="tc-indigo-800">{{ value | currency: 'USD':1.2 - 2 }}</span>
      <span class="text-sm tc-pink-700">{{ getFormaDePago(row) }}</span>
    </span>
  </ng-template>

  <ng-template tdDataTableTemplate="createUser" let-value="value" let-row="row">
    <span layout="column">
      <span>{{ value }}</span>
      <span *ngIf="value != row.updateUser" class="tc-pink-700">{{
        row.updateUser
      }}</span>
    </span>
  </ng-template>

  <ng-template
    tdDataTableTemplate="operaciones"
    let-value="value"
    let-row="row"
  >
    <span layout>
      <button
        md-icon-button
        (click)="generarVale.emit(row)"
        mdTooltip="Generar vale tipo: {{ row.clasificacionVale }}"
        *ngIf="row.clasificacionVale !== 'SIN_VALE'"
      >
        <md-icon>swap_horiz</md-icon>
      </button>
      <button
        md-icon-button
        type="button"
        mdTooltip="Regresar a Callcenter"
        (click)="delete.emit(row)"
        *ngIf="row.callcenter && !row.puesto"
      >
        <md-icon>delete</md-icon>
      </button>
      <button
        md-icon-button
        type="button"
        mdTooltip="Asignar como PUESTO"
        (click)="puesto.emit(row)"
        *ngIf="!row.puesto && row.tipo !== 'ANT'"
      >
        <md-icon>flag</md-icon>
      </button>
      <!--
      <button
        md-icon-button
        type="button"
        mdTooltip="Quitar como PUESTO"
        (click)="quitarPuesto.emit(row.id)"
        *ngIf="row.puesto"
      >
        <md-icon>cancel</md-icon>
      </button>
      -->
      <button
        md-icon-button
        *ngIf="!row.noFacturable"
        (click)="onFacturar(row)"
        mdTooltip="Mandar facturar"
      >
        <md-icon>assignment</md-icon>
      </button>
      <button
        md-icon-button
        type="button"
        mdTooltip="Configurar envío"
        (click)="envio.emit(row)"
        *ngIf="!row.callcenter && row.tipo !== 'ANT'"
      >
        <md-icon [ngClass]="{ 'tc-green-500': row.envio }"
          >flight_takeoff</md-icon
        >
      </button>
      <!-- <button md-icon-button type="button" (click)="cancelarEnvio.emit(row)" mdTooltip="Cancelar envío" *ngIf="row.envio">
        <md-icon [ngClass]="{'tc-red-500': (row.envio)}">flight_takeoff</md-icon>
      </button> -->

      <button
        md-icon-button
        type="button"
        mdTooltip="Imprimir pedido"
        (click)="print.emit(row.id)"
      >
        <md-icon>print</md-icon>
      </button>
      <a
        (click)="cambioDeCliente.emit(row)"
        *ngIf="permitirCambioDeCliente(row) && !row.callcenter"
        class="tc-pink-800"
        md-icon-button
      >
        <md-icon>person_add</md-icon>
      </a>
    </span>
  </ng-template>
</td-data-table>
