
<md-list dense>

  <td-virtual-scroll-container #virtualScroll [style.height.px]="550" [data]="pedidos">
    <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
      <md-list-item >
        <span md-line >
          <span layout layout-margin>
            <span>
                <button md-button (click)="onEdit(row)"  class="tc-indigo-700" flex>
                  {{row.tipo}} {{row.documento}}
                </button>
            </span>
            <span flex="30">{{ row.nombre}} </span>
            <span flex="5" class="tc-indigo-500">{{ row.cod ? 'COD' : ''  }} </span>
            <span flex="10">{{ row.fecha | date: 'dd/MM/yyyy' }} </span>
            <!-- <span flex="10">{{ row.dateCreated | amTimeAgo }} </span> -->
            <span flex="10">{{ row.formaDePago}} </span>
            
            <span flex="10">
                {{ row.total | currency: 'USD': 1.2-2 }}
            </span>
            <span flex="10">
              <span  class="tc-pink-700" *ngIf="row.tipoDeCambio > 1"> (USD T.C: {{row.tipoDeCambio | number: '1.4-4'}})</span>
              <span  class="tc-indigo-700" *ngIf="row.tipo === 'ANT'"> ANT {{row.comentario}}</span>
              <span  class="tc-indigo-700" *ngIf="row.puesto"> 
                  PUESTO
              </span>
            </span>

            <span flex="10" layout>
              <span class="pad-left-sm ">{{row.createUser}}</span>
              <span class="pad-left-sm ">{{row.updateUser}}</span>
            </span>
            
            <span layout>
              <button  md-icon-button
                       (click)="onFacturar(row)"
                mdTooltip="Mandar facturar" >
                <md-icon >assignment</md-icon>
              </button>
              <button  md-icon-button type="button" 
                       mdTooltip="Configurar envío"
                       (click)="envio.emit(row)" >
                <md-icon [ngClass]="{'tc-green-500': (row.envio !== null)}">flight_takeoff</md-icon>
              </button>
              <button  md-icon-button type="button" mdTooltip="Imprimir pedido"
                (click)="print.emit(row.id)" >
                <md-icon>print</md-icon>
              </button>
            </span>
          </span>
        </span>

        <span flex></span>

      </md-list-item>
      <md-divider *ngIf="!last" md-inset></md-divider>
    </ng-template>
  </td-virtual-scroll-container>

</md-list>
