
<md-list dense>
  <md-list-item>
    <md-icon md-list-icon class="tc-pink-800" >vpn_key</md-icon>
    <span md-line >
      <span layout layout-padding>
        <span flex="20" class="tc-indigo-700"> Pedido </span>
        <span flex></span>
        <span >
          <md-icon>more_vert</md-icon>
        </span>

      </span>
    </span>
  </md-list-item>
  <md-divider></md-divider>
  <td-virtual-scroll-container #virtualScroll [style.height.px]="350" [data]="pedidos">
    <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
      <md-list-item >
        <md-icon md-list-icon class="tc-pink-800" >apps</md-icon>
        <span md-line >
          <span layout layout-padding>
            <span>
                <a md-button [routerLink]="['../edit', row.id]"  class="tc-indigo-700" flex>{{row.documento}} </a>
            </span>
            <span flex="40">{{ row.cliente.nombre}} </span>
            <span flex="10">{{ row.fecha | date: 'dd/MM/yyyy' }} </span>
            <span flex="20">{{ row.dateCreated | amTimeAgo }} </span>
            <span flex class="text-right">{{ row.total | currency: 'USD': 1.2-2 }} </span>
            <span flex></span>
            <span layout>
              <button  md-icon-button
                (click)="marcarSalida(row)"
                mdTooltip="Mandar facturar" >
                <md-icon >assignment</md-icon>
              </button>
              <button  md-icon-button
                       mdTooltip="Envío" >
                <md-icon >flight_takeoff</md-icon>
              </button>
            </span>
          </span>
        </span>

        <span flex></span>
        <!-- <span >
          <button md-icon-button [md-menu-trigger-for]="menu"  >
          <md-icon [ngClass]="{'tc-blue-600':odd }">more_vert</md-icon>
          </button>
          <md-menu x-position="before" #menu="mdMenu">
            <a [routerLink]="['show', row.id]" [queryParams]="{tipo: 'show'}" md-menu-item [disabled]="false">
              <md-icon>info</md-icon> Consultar
            </a>
            <a [routerLink]="['edit', row.id]" md-menu-item [disabled]="false">
                <md-icon>edit</md-icon> Editar
            </a>
          </md-menu>
        </span> -->
      </md-list-item>
      <md-divider *ngIf="!last" ></md-divider>
    </ng-template>
  </td-virtual-scroll-container>

</md-list>
