<h4 md-dialog-title>
  <span class="pad">Documento: </span>
  <span class="pad"> {{envio.tipoDocumento}} {{envio.documento}}  </span>
  <span class="pad">{{envio.nombre}}</span>
</h4>

<div layout="column" class="selector-form" >

  <td-data-table
    #dataTable
    [data]="disponibles"
    [columns]="columns"
    [selectable]="true"
    [clickable]="true"
    [multiple]="true"
    [sortable]="false"
    [(ngModel)]="selectedRows"
    [style.height.px]="300">
  </td-data-table>

</div>

<md-dialog-actions>
  <button md-button class="accent" type="button" [disabled]="selectedRows.length <= 0" (click)="doAccept()">Aceptar</button>
  <button md-button type="button" (click)="close()" >Cancelar</button>
</md-dialog-actions>
