<div layout >

  <md-card  flex>
    <ng-container *ngIf="com$ | async as  com">
      <md-card-title >
        <span layout >
          <span>{{ com.tipo }}</span>
          <span>COM: {{com.documento}} ({{com.fecha | date: 'dd/MM/yyyy'}})</span>
          <span flex></span>
          <span>Compra: {{com.compra.folio}} ({{com.compra.fecha | date: 'dd/MM/yyyy'}})</span>
          <span flex></span>

        </span>
      </md-card-title>
      <md-card-subtitle>
        <span layout >
          <span>{{com.proveedor.nombre}} </span>
          <span flex></span>
          <span>{{com.comentario}}</span>
          <span *ngIf="com.fechaInventario" class="tc-pink-500" >INVENTARIADO: {{com.fechaInventario | date:'dd/MM/yyyy HH:mm'}}</span>
          <span flex></span>
          <span>Usuario: {{com.createUser}}</span>
        </span>
      </md-card-subtitle>

      <md-divider></md-divider>
      <sx-comdet-grid [partidas]="com.partidas"></sx-comdet-grid>
      <md-divider></md-divider>
      <ng-template tdLoading [tdLoadingUntil]="!procesando" tdLoadingStrategy="overlay" tdLoadingType="linear">
        <md-card-actions>
          <a md-button [routerLink]="['/logistica/inventarios/coms']" ><md-icon>keyboard_backspace</md-icon> Regresar </a>
          <button md-icon-button (click)="print(com)" mdTooltip="Imprimir documento"><md-icon>print</md-icon></button>
          <button md-button color="accent" *ngIf="com.fechaInventario === undefined"
            mdTooltip="Mandar al inventario" (click)="inventariar(com)">
          <md-icon >send</md-icon> Mandar al inventario</button>
          <button md-button color="warn"
            *ngIf="com.fechaInventario == null"
            mdTooltip="Eliminar documento" (click)="onDelete(com)" >  <md-icon >delete</md-icon> Eliminar</button>
        </md-card-actions>
      </ng-template>
    </ng-container>

  </md-card>

  <ng-template #loadingPanel>
    <md-card>
      <md-card-title>Devolución de venta</md-card-title>
      <md-card-content *tdLoading="'overlayStarSyntax'; let loading until !(loading$ | async); color: 'accent' strategy:'overlay';" class="will-load">

      </md-card-content>
    </md-card>

  </ng-template>

</div>

