<sx-nav-layout header="Ordenes de compra" modulo="Compras">
  <div layout *tdLoading="'procesando'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
    <md-card flex>
      <div layout="row" layout-align="start center" layout-padding class="pad-left-sm pad-right-sm">
        <span class="md-title">Reporte general de alcances</span>
        <span flex></span>
        <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Filtrar" (searchDebounce)="search($event)"
          flex>
        </td-search-box>
        <span>
          <button md-icon-button [mdMenuTriggerFor]="toolbarMenu">
            <md-icon>more_vert</md-icon>
          </button>
          <md-menu #toolbarMenu="mdMenu">
            <button (click)="ejecutar()" md-menu-item>
              <md-icon>directions_run</md-icon> Ejecutar
            </button>
          </md-menu>
        </span>
      </div>
      <md-divider></md-divider>
      <div class="alcance-panel">
        <sx-alcances-table [rows]="rows"></sx-alcances-table>
      </div>
    </md-card>
  </div>
</sx-nav-layout>