
<md-list>
      <md-list-item>
        <md-icon md-list-icon class="tc-pink-800" >vpn_key</md-icon>
        <span md-line >
          <span layout layout-padding>
            <span flex="10" class="tc-indigo-700"> Embarque</span>
            <span flex>Chofer </span>
            <span flex>Salida </span>
            <span flex></span>
            <span >Regreso </span>
          </span>
        </span>
        <span flex></span>

      </md-list-item>
      <md-divider></md-divider>
      <td-virtual-scroll-container #virtualScroll [style.height.px]="350" [data]="embrques">
        <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
          <md-list-item >
            <md-icon md-list-icon class="tc-pink-800" >apps</md-icon>
            <span md-line >
              <span layout layout-padding>
                <a md-button [routerLink]="['edit', row.id]"  class="tc-indigo-700">{{row.documento}} </a>
                <span flex>{{row.chofer.nombre}} </span>
                <span flex md-tooltip="{{row.salida | date:'short'}}">{{ row.salida | amTimeAgo }} </span>

                <span flex></span>
                <button  md-icon-button (click)="marcarRegreso(row)"
                  mdTooltip="Regisrar regreso de embarque" *ngIf="!row.regreso">
                  <md-icon>flight_land</md-icon>
                </button>
              </span>
            </span>

            <span flex></span>

          </md-list-item>
          <md-divider *ngIf="!last" md-inset></md-divider>
        </ng-template>
      </td-virtual-scroll-container>

    </md-list>
