<div [formGroup]= "parent" >
  <md-list formArrayName="partidas">
    <md-list-item *ngFor="let item of partidas; index as i;">
      <!-- <h4 mdLine>{{item.producto.descripcion}}</h4>
      <p mdLine>{{item.comentario}}</p>
      <span layout>
        <span flex="40">{{item.producto.clave}}</span>
        <span flex="40">{{item.cantidad}}</span>
      </span> -->
      <!-- <md-icon md-list-avatar>person</md-icon> -->
      <h3 md-line> {{item.producto.descripcion}} </h3>
      <p md-line> {{item.comentario}} </p>
      <span flex></span>
      <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
          <div class="" flex-gt-xs="50"> {{ item.producto.clave }} </div>
          <div class="" flex-gt-xs="50"> {{ item.cantidad | number:'1.3'}} </div>
      </span>
      <span>
          <button md-icon-button [md-menu-trigger-for]="menu">
          <md-icon>more_vert</md-icon>
          </button>
          <md-menu x-position="before" #menu="mdMenu">
              <a [routerLink]="['edit', item.id]" md-menu-item>
                <md-icon>edit</md-icon> Editar
              </a>
              <button md-menu-item (click)="delete(i)" [disabled]="false" >
                <md-icon>delete</md-icon> Delete
              </button>
          </md-menu>
      </span>
    </md-list-item>
  </md-list>
</div>