<form [formGroup]="form" novalidate (ngSubmit)="doAccept()">
    <h4 md-dialog-title>
      Reporte de Ventas diarais (CHE)
    </h4>
  
    <div layout="column" class="selector-form" >
  
      <md-form-field flex>
        <input mdInput [mdDatepicker]="picker" placeholder="Fecha" formControlName="fecha">
        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
        <md-datepicker #picker></md-datepicker>
      </md-form-field>
      
  
    </div>
  
    <md-dialog-actions>
      <button md-button class="accent" type="submit" [disabled]="form.invalid" >Aceptar</button>
      <button md-button type="button" (click)="close()" >Cancelar</button>
    </md-dialog-actions>
  
  </form>
  