<td-data-table #dataTable [data]="rows" [columns]="columns" [selectable]="true" sortable="true" [sortBy]="sortBy" [(ngModel)]="selectedRows"
  [style.height.px]="450">

  <ng-template tdDataTableTemplate="descripcion" let-value="value" let-row="row">
    <span class="text-md">{{value}}</span>
  </ng-template>

  <ng-template tdDataTableTemplate="fecha" let-value="value" let-row="row">
    <span>{{value | date: 'dd/MM/yyyy'}}</span>
  </ng-template>

  <ng-template tdDataTableTemplate="tipo" let-value="value" let-row="row">
    <span (click)="select.emit(row)" class="cursor-pointer" flex>{{value}}</span>
  </ng-template>

  <ng-template tdDataTableTemplate="promVta" let-value="value" let-row="row">
    {{value | number:'1.2-2'}}
  </ng-template>
  <ng-template tdDataTableTemplate="alcanceTotal" let-value="value" let-row="row">
    {{value | number:'1.3-3'}}
  </ng-template>
  <ng-template tdDataTableTemplate="venta" let-value="value" let-row="row">
    {{value | number:'1.2-2'}}
  </ng-template>
  <ng-template tdDataTableTemplate="existencia" let-value="value" let-row="row">
    {{value | number:'1.3-3'}}
  </ng-template>

  <ng-template tdDataTableTemplate="disponible" let-value="value" let-row="row">
    <span (click)="select.emit(row)" class="cursor-pointer" [ngClass]="{'tc-indigo-800':value > 0}" flex>
      {{value | currency: 'USD': 1.2-2}}
    </span>
  </ng-template>

  <ng-template tdDataTableTemplate="alcanceMasPedido" let-value="value" let-row="row">
    {{ value | number:'1.3-3'}}
  </ng-template>

  <ng-template tdDataTableTemplate="porPedir" let-value="value" let-row="row">
    {{ value | number:'1.3-3'}}
  </ng-template>

  <ng-template tdDataTableTemplate="linea" let-value="value" let-row="row">
    <span class="text-md">{{value}}</span>>
  </ng-template>
  <ng-template tdDataTableTemplate="clase" let-value="value" let-row="row">
    <span class="text-md">{{value}}</span>>
  </ng-template>
  <ng-template tdDataTableTemplate="proveedor" let-value="value" let-row="row">
    <span class="text-md">{{value}}</span>>
  </ng-template>
</td-data-table>
<td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
  <span hide-xs>Registros por página:</span>
  <md-select [style.width.px]="50" [(ngModel)]="pageSize">
    <md-option *ngFor="let size of [50,100,200,500]" [value]="size">
      {{size}}
    </md-option>
  </md-select>
  {{pagingBar.range}}
  <span hide-xs>of {{pagingBar.total}}</span>
</td-paging-bar>