<ng-template tdLoading [tdLoadingUntil]="!loading" tdLoadingStrategy="overlay">
<h3 md-dialog-title>Selector de ventas </h3>

<div layout="column" class="selector-form">
  <form novalidate (ngSubmit)="buscarVenta()" [formGroup]="form">
    <div layout>
      <div >
        <md-select placeholder="Tipo" formControlName="tipo" >
          <md-option *ngFor="let tipo of ['CRE','CON','COD']" 
              [value]="tipo">{{ tipo }}
          </md-option>
        </md-select>
      </div>
      <md-form-field >
        <input type="text" mdInput placeholder="Documento" formControlName="documento">
        <md-error>El documento requerido</md-error>
      </md-form-field>
      <md-form-field >
        <input type="text" mdInput placeholder="Sucursal" [value]="sucursal.nombre" disabled="true">
      </md-form-field>
      
      <button md-icon-button type="submit"><md-icon>search</md-icon></button>
    </div>
  </form>
  
  <div *ngIf="error">
    {{error}}
  </div>

  <ng-container *ngIf="venta"> 
    <sx-rmd-ventadet-grid [data]="venta.partidas" [selectedRows]="selectedRows">
    </sx-rmd-ventadet-grid>
  </ng-container>
  
</div>
<md-dialog-actions>
  <button md-button class="accent" type="button" [disabled]="form.invalid" (click)="doAccept()">Aceptar</button>
  <button md-button type="button" (click)="close()" >Cancelar</button>
</md-dialog-actions>
</ng-template>