<ng-template tdLoading [tdLoadingUntil]="!loading" tdLoadingStrategy="overlay">
  
  
  
  <h4 md-dialog-title>
    <span *ngIf="!venta">Selector de ventas</span>
    <span *ngIf="venta"> {{venta.tipo}}: {{venta.documeto}}  {{(venta.cliente.nombre)}}</span>
  </h4>
  
<div layout="column" class="selector-form" >
  
  <form novalidate (ngSubmit)="buscarVenta()" [formGroup]="form" *ngIf="!venta">
    <div layout>
      <md-form-field >
        <input type="text" mdInput placeholder="Documento" formControlName="documento">
        <md-error>El documento requerido</md-error>
      </md-form-field>
      <div >
        <md-select placeholder="Tipo" formControlName="tipo" >
          <md-option *ngFor="let tipo of ['CRE','CON','COD']" 
              [value]="tipo">{{ tipo }}
          </md-option>
        </md-select>
      </div>
      
      <md-form-field >
        <input type="text" mdInput placeholder="Sucursal" [value]="sucursal.nombre" disabled="true">
      </md-form-field>
      <button md-button type="submit">Buscar</button>
      
    </div>
  </form>
  
  <div *ngIf="error">
    {{error}}
  </div>

  <ng-container *ngIf="venta"> 
    <!--
      <td-json-formatter [data]="venta.partidas" [levelsOpen]="1">
        </td-json-formatter>
      -->
    <sx-rmd-ventadet-grid [data]="disponibles" [selectedRows]="selectedRows">
    </sx-rmd-ventadet-grid>
    
  </ng-container>
  
</div>
<md-dialog-actions>
  <button md-button class="accent" type="button" [disabled]="!venta" (click)="doAccept()">Aceptar</button>
  <button md-button type="button" (click)="close()" >Cancelar</button>
</md-dialog-actions>
</ng-template>