
<md-list>
  <md-list-item>
    <!--<md-icon md-list-icon class="tc-pink-800" >vpn_key</md-icon>-->
    <span md-line >
      <span layout layout-padding>
        <span flex="5" class="tc-indigo-700"> Folio</span>
        <span flex="30">Cliente</span>
        <span flex="10" >Modificado</span>
        <span flex="10" >F. Depósito</span>
        <span flex="10" >Importe</span>
        <span flex="10" >Solicita</span>
        <span flex="10" >Banco</span>
        <span flex >Comentario</span>
      </span>
    </span>
    <span flex></span>
  </md-list-item>
  <md-divider></md-divider>
  <td-virtual-scroll-container #virtualScroll [style.height.px]="350" [data]="solicitudes">
    <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
      <md-list-item >
        <!--<md-icon md-list-icon class="tc-pink-800" >apps</md-icon>-->
        <span md-line >
          <span layout >
            <span flex="5" class="tc-indigo-700 " >
              <a  md-button [routerLink]="['edit', row.id]" class="text-left">{{row.folio}} </a>
            </span>
            <span flex="30">{{row.cliente.nombre}}</span>
            <span flex="10" >{{row.lastUpdated | date: 'dd/MM/yyyy HH:mm'}}</span>
            <span flex="10" >{{row.fechaDeposito | date: 'dd/MM/yyyy'}}</span>
            <span flex="10" >{{row.total}}</span>
            <span flex="10" layout="column">
              <span class="tc-indigo-600">{{row.updateUser}}</span>
            </span>
            <span flex="10" >{{row.banco.nombre}}</span>
            <span flex >{{row.comentario}}</span>
          </span>
        </span>
        <!--<span md-line>
          <span layout>
            <span> Solicita: {{row.updateUser}}</span>
            <span> Ultima modificacion: {{row.lastUpdated | date: 'dd/MM/yyyy HH:mm'}}</span>
          </span>
        </span>-->
        <span flex></span>
      </md-list-item>
      <md-divider *ngIf="!last" ></md-divider>
    </ng-template>
  </td-virtual-scroll-container>

</md-list>
