<md-list dense>
  <td-virtual-scroll-container #virtualScroll [style.height.px]="550" [data]="facturas">
    <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
      <md-list-item >
        <span md-line >
          <span layout layout-margin>
            <span flex="10" class="text-left">
                <a md-button class="tc-indigo-700 text-left" [routerLink]="['show', row.id]">
                  {{row.cuentaPorCobrar.tipo}} {{row.cuentaPorCobrar.documento}}
                </a>
            </span>
            <span flex="30">{{ row.cliente.nombre}} </span>
            <span flex="10">{{ row.fecha | date: 'dd/MM/yyyy' }} </span>
            <span flex="10">{{ row.dateCreated | amTimeAgo }} </span>
            <span flex="10" class="text-right" layout>
              <span flex="10" class="tc-indigo-700" *ngIf="row.tipo === 'ANT'"> (ANTICIPO) </span>
              <span flex *ngIf="row.moneda!=='MXN'" class="tc-pink-700"> {{row.moneda}}</span>
              <span flex>{{ row.total | currency: 'USD': 1.2-2 }}</span>

            </span>
            <span flex="10" class="tc-indigo-700" *ngIf="row.tipoDeCambio > 1"> (T.C: {{row.tipoDeCambio | number: '1.4-4'}})</span>
            <span flex="10" class="tc-indigo-700" *ngIf="row.tipo === 'ANT'"> {{row.comentario}}</span>
            <span flex></span>
          </span>
        </span>

        <span flex></span>

      </md-list-item>
      <md-divider *ngIf="!last" md-inset></md-divider>
    </ng-template>
  </td-virtual-scroll-container>

</md-list>
