
<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    
    <md-card flex-gt-sm class="facturas-card" >
    <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
     <span  class="push-left-sm" flex>
         <span class="md-title">Cobranza de facturas COD </span>
     </span>
     <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm"
                    placeholder="Documento " (searchDebounce)="search($event)" flex>
     </td-search-box>
     
    </div>
    <md-divider></md-divider>
    <md-card-content class="facturas-panel">
      <td-data-table
        #dataTable
        [data]="data"
        [columns]="columns"
        [selectable]="false"
        [clickable]="false"
        [multiple]="false"
        [sortable]="false"
        [style.height.px]="400">
        <ng-template tdDataTableTemplate="documento" let-value="value" let-row="row">
            <a md-button [routerLink]="['../cobroCod', row.id]"  [ngClass]="{'tc-pink-700':row.cod,'tc-indigo-700':!row.cod}">
                <span flex>{{row.cod ? 'COD': row.tipo}}</span> 
                <span flex>{{value}} </span>
            </a>
        </ng-template>
        <ng-template tdDataTableTemplate="fecha" let-value="value" let-row="row">
            {{value | date: 'dd/MM/yyyy'}}
        </ng-template>
        <ng-template tdDataTableTemplate="total" let-value="value" let-row="row">
            <span>{{value | currency: 'USD': 1.2-2}}</span> <span *ngIf="row.moneda === 'USD'"> USD</span>
        </ng-template>
    
        <ng-template tdDataTableTemplate="cuentaPorCobrar" let-value="value" let-row="row">
            <span *ngIf="value">{{value.id}}</span>
        </ng-template>
        
        <ng-template tdDataTableTemplate="pagos" let-value="value" let-row="row">
                <span>{{ row.pagos | currency: 'USD': 1.2-2}}</span> 
            </ng-template>
        
        <ng-template tdDataTableTemplate="saldo" let-value="value" let-row="row">
            <span>{{ (row.total - row.pagos) | currency: 'USD': 1.2-2}}</span> 
        </ng-template>
        
      </td-data-table>
     
    </md-card-content>
    </md-card>
    
    