<form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <md-card>
        <div layout="row" layout-align="start center" layout-padding class="pad-left-sm pad-right-sm">
            <span class="pad-left">Administración de embarque</span>
            <span class="pad-left tc-pink-700">{{embarque?.documento}}</span>
            <span class="pad-left">Chofer: </span><span class="pad tc-indigo-700">{{embarque?.chofer?.nombre}}</span>
            <span flex></span>
            <span class="pad">Fecha: {{embarque?.fecha | date:'dd/MM/yyyy'}}</span>
            <span>
        <button type="button" md-icon-button (click)="insertar()" [disabled]="readonly"
                mdTooltip="Agregar partidas a al embarque">
          <md-icon>add</md-icon>
        </button>
      </span>
        </div>
        <div *ngIf="embarque?.empleado">
            <span class="pad-left">Empleado: </span><span class="pad tc-pink-700">{{embarque?.empleado}}</span>
        </div>

        <md-divider></md-divider>
        <sx-envio-form-partidas [parent]="form" [partidas]="partidas.value" (remove)="onDelete($event)">
        </sx-envio-form-partidas>
        <md-divider></md-divider>
        <md-card-actions>
            <button type="submit" md-button [disabled]="form.invalid" *ngIf="!readonly"> Salvar </button>
            <a md-button [routerLink]="['/logistica/embarques/embarques']"> Cancelar </a>
            <a md-button *ngIf="id && readonly" [routerLink]="['../../edit', id]">
        Editar <md-icon>edit</md-icon>
      </a>
        </md-card-actions>

    </md-card>
</form>