<td-expansion-panel [expand]="!cliente">

  <ng-template td-expansion-panel-label >
    <md-icon>shopping_cart</md-icon>
    <span >  Alta de pedido  </span>
  </ng-template>

  <ng-template td-expansion-panel-sublabel>
    <md-icon>today</md-icon>
    <span >{{fecha | date}}</span>
  </ng-template>

  <td-expansion-summary>
    <md-list>
      <md-list-item>
        <md-icon md-list-avatar>pin_drop</md-icon>
        <h3 md-line>{{cliente.nombre}}</h3>
      </md-list-item>
      <!-- <md-list-item>
        
        <p md-line class="push-right-sm">
          1600 Amphitheatre Pkwy
          <br/>Mountain View, CA 94043, USA
        </p>
        <p md-line class="push" >
            Municipio: 
            <span class="text-right">Telefonos: </span>
        </p>
        <span flex></span>
        <span flex="30" class="md-body-1 tc-grey-500">
          Crédito: NO 
          
        </span>
        <span flex="30" class="md-body-1 ">
          <a md-button (click)="cambiarCfdi()">CFDI Mail: rcancino@gmial.ocm</a> 
        </span>
        
      </md-list-item> -->
    </md-list>
  </td-expansion-summary>
  
  <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
      
    <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" [alwaysVisible]="true"
      placeholder="{{searchLabel}}"
          (searchDebounce)="onSearch($event)" flex>
    </td-search-box>
          <span>
            <button md-icon-button [mdMenuTriggerFor]="toolbarMenu"><md-icon>more_vert</md-icon></button>
            <md-menu #toolbarMenu="mdMenu">
              <button md-menu-item>
                <md-icon>person_add</md-icon>
                <span>Registrar cliente</span>
              </button>
            </md-menu>
          </span>
      
  </div>
        
</td-expansion-panel>
      
      