<form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
  <md-card >
    <div layout="row" layout-align="start center" layout-padding class="pad-left-sm pad-right-sm">
      <span class="md-title">Solicitud de autorización de depósito</span>
      <span flex></span>
    </div>

    <md-divider></md-divider>
    <md-card-content>

      <div layout class="pad-left-sm pad-right-sm">
        <md-form-field flex>
          <input type="text" mdInput value="{{fecha | date:'dd/MM/yyyy'}}" placeholder="Fecha" [disabled]="true">
        </md-form-field>
        <md-form-field flex>
          <input type="text" mdInput value="{{sucursal.nombre}}" placeholder="Sucursal" [disabled]="true">
        </md-form-field>
      </div>

      <div layout class="pad-left-sm pad-right-sm">
        <sx-cliente-field formControlName="cliente" flex></sx-cliente-field>
      </div>

      <div layout class="pad-left-sm pad-right-sm">
        <md-form-field flex>
          <input type="text" mdInput formControlName="efectivo" placeholder="Efectivo" sxOnlyNumbers>
        </md-form-field>
        <md-form-field flex>
          <input type="text" mdInput formControlName="cheque" placeholder="Efectivo" >
        </md-form-field>
        <md-form-field flex>
          <input type="text" mdInput formControlName="tarjeta" placeholder="Tarjeta" >
        </md-form-field>
      </div>

      <div layout class="pad" layout-align="center center">
        <sx-banco-field [parent]="form" flex="50" class="pad-right"></sx-banco-field>
        <sx-cuenta-field [parent]="form" flex="50"></sx-cuenta-field>
      </div>

      <div layout class="pad-left-sm pad-right-sm">
        <md-form-field flex>
          <input mdInput [mdDatepicker]="picker" placeholder="Fecha deposito" formControlName="fechaDeposito">
          <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
          <md-datepicker #picker></md-datepicker>
        </md-form-field>
        <md-form-field flex>
          <input type="text" mdInput formControlName="referencia" placeholder="Referencia" >
        </md-form-field>
      </div>

      <div layout class="pad-left-sm pad-right-sm">
        <md-form-field flex>
          <input type="text" mdInput formControlName="solicita" placeholder="Solicita" >
        </md-form-field>
        <md-form-field flex>
          <input type="text" mdInput  placeholder="Nombre" [disabled]="true">
        </md-form-field>
      </div>

      <div layout class="pad-left-sm pad-right-sm">
        <sx-comentario-field flex [parent]="form" rows="1" ></sx-comentario-field>
      </div>

    </md-card-content>


    <md-divider></md-divider>
    <md-card-actions>
      <button type="submit" md-button [disabled]="form.invalid" *ngIf="!readonly"> Salvar </button>
      <a  md-button [routerLink]="['/ventas/pedidos/solicitudes']"> Cancelar </a>
      <a md-button  *ngIf="id && readonly" [routerLink]="['../../edit', id]">
        Editar <md-icon>edit</md-icon>
      </a>
    </md-card-actions>

  </md-card>



</form>
