<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']"
     *tdLoading="'saving'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">

  <md-card flex-gt-sm class="facturas-card" >
    <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
      <span  class="push-left-sm" flex>
          <span class="md-title">Ventas pendientes de facturar (CRE)</span>
      </span>
      <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm"
                     placeholder="Documento " (searchDebounce)="search($event)" flex>
      </td-search-box>
      <span >
          <button md-icon-button [md-menu-trigger-for]="menu"  >
          <md-icon >more_vert</md-icon>
          </button>
          <md-menu x-position="before" #menu="mdMenu">
            <button  (click)="load()" md-menu-item><md-icon>refresh</md-icon> Refrescar</button>
          </md-menu>
        </span>
    </div>

    <md-divider></md-divider>
    <md-card-content class="facturas-panel">
      <sx-facturas-cre-list [pedidos]="pedidos" (facturar)="facturar($event)" 
        (cancelar)="regresarAVentas($event)">

      </sx-facturas-cre-list>
      <!--<sx-pedidos-pendientes-list [pedidos]="pedidos" (edit)="onEdit($event)" (facturar)="mandarFacturar($event)">
      </sx-pedidos-pendientes-list>-->
    </md-card-content>
  </md-card>
</div>
