<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']" *tdLoading="'saving'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">

    <md-card flex-gt-sm class="facturas-card">
        <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
            <span class="push-left-sm" flex>
          <span class="md-title">Pedidos pendientes de facturar (CRE)</span>
            </span>
            <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Documento " (searchDebounce)="search($event)" flex>
            </td-search-box>
            <span>
          <button md-icon-button [md-menu-trigger-for]="menu"  >
          <md-icon >more_vert</md-icon>
          </button>
          <md-menu x-position="before" #menu="mdMenu">
            <button  (click)="load()" md-menu-item><md-icon>refresh</md-icon> Refrescar</button>
          </md-menu>
        </span>
        </div>

        <md-divider></md-divider>
        <md-card-content class="facturas-panel">
            <ng-template tdLoading [tdLoadingUntil]="!procesando" tdLoadingStrategy="overlay" tdLoadingType="linear">
                <sx-facturas-cre-list [pedidos]="pedidos$ | async" (facturar)="facturar($event)" (facturarV4)="facturarV4($event)" (cancelar)="regresarAVentas($event)">
                </sx-facturas-cre-list>
            </ng-template>
        </md-card-content>
    </md-card>
</div>