
<md-list>

  <md-list-item>
    <md-icon md-list-icon class="tc-pink-800" >vpn_key</md-icon>
    <span md-line >
      <span layout layout-padding>
        <span flex="10" class="tc-indigo-700"> Sector</span>
        <span flex>Comentario</span>
        <span flex>Responsable 1</span>
        <span flex>Responsable 2</span>

      </span>
    </span>
    <span flex></span>
    <span >
      <button md-icon-button>
        <md-icon >more_vert</md-icon>
      </button>
    </span>
  </md-list-item>
  <md-divider></md-divider>
  <td-virtual-scroll-container #virtualScroll [style.height.px]="350" [data]="sectores">
    <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
      <md-list-item >
        <md-icon md-list-icon class="tc-pink-800" >apps</md-icon>
        <span md-line >
          <span layout layout-padding>
            <span flex="10" class="tc-indigo-700">
              <a md-button [routerLink]="['show', row.id]" [queryParams]="{tipo: 'show'}">{{row.sectorFolio}} </a>
            </span>
            <span flex >{{row.comentario}}</span>
            <span flex >{{row.responsable1}}</span>
            <span flex >{{row.responsable2}}</span>
          </span>
        </span>
        <span flex></span>
        <span >
          <button md-icon-button [md-menu-trigger-for]="menu"  >
          <md-icon [ngClass]="{'tc-blue-600':odd }">more_vert</md-icon>
          </button>
          <md-menu x-position="before" #menu="mdMenu">
            <a [routerLink]="['show', row.id]" [queryParams]="{tipo: 'show'}" md-menu-item [disabled]="false">
              <md-icon>info</md-icon> Consultar
            </a>
            <a [routerLink]="['edit', row.id]" md-menu-item [disabled]="false">
                <md-icon>edit</md-icon> Editar
            </a>
            <a  md-menu-item [disabled]="false" (click)="print.emit(row)">
                <md-icon>print</md-icon> Imprimir
            </a>
          </md-menu>
        </span>
      </md-list-item>
      <md-divider *ngIf="!last" md-inset></md-divider>
    </ng-template>
  </td-virtual-scroll-container>

</md-list>
